:root{
    --contact-link : aqua ;
    --mini-dis : rgb(222, 222, 222);
}
.contact-link{
    color : var(--contact-link) ;
}
h2{
  font-weight: 700;
}
.mini-dis{
    color:var(--mini-dis);
}
.gradient-border{
  /* box-shadow: 0 0 5px 3px grey; */
}
.main{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 6px 5px 3px grey;
}
.prg{
  width: 0;
}
.main:hover{
    background-color: #ffffff;
}
.main:hover .prg{
width: 100%;
}
/* .main:hover video{
  display: none;
} */

@media (max-width : 1000px) {
    .gradient-border::after {
        display: none;
    }
}

.custom {
    position: relative;
    font-family: Arial;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center
  }

  .custom select {
    background-color: var(--primary-background);
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--primary-color) transparent transparent transparent;
  }
  
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--primary-color) transparent;
    top: 7px;
  }
  
  
  .select-items div,.select-selected {
    color: var(--primary-color);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  
  .select-items {
    position: absolute;
    background-color: rgb(63, 64, 75);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
.switch {
    --dark: #404045;
    --light: #EEEEEE;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    width: 60px;
    height: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
  }
  
  .checkbox {
    opacity: 0
  }
  
  .slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    transition: .4s;
  }
  
  .slider::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 40%;
    height: 80%;
    border-radius: 100%;
    transform: translateY(-50%);
    border: 4px solid var(--dark);
    background-color: var(--light);
    transition: .4s;
  }
  
  .slider::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 100%;
    transform: translate(40%, -20%);
    background-color: var(--dark);
    transition: .4s;
  }
  
  .checkbox:checked + .slider {
    background-color: var(--light);
  }
  
  .checkbox:checked + .slider::before {
    border: 4px solid var(--light);
    background-color: var(--dark);
    transform: translate(90%, -50%);
  }
  
  .checkbox:checked + .slider::after {
    width: 0;
    height: 0;
    background-color: var(--light);
  }
.mailto{
    transition: 0.05s linear;
}

.nav{
  /* position: fixed; */
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  width: calc(57vw - 10px);
  font-size: large;
  background-color: #f2f2f2;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /* border-radius: 0 0 20px 20px; */
}
.nav span{
  color: rgb(0, 174, 255);
  cursor: pointer;
  padding: 5px;
  width: 70px;
  text-align: center;
  transition: color none;
  border-radius: 10px;
  background-color: #00003e;
}
.nav span:hover{
  background-color: rgb(0, 5, 25);
  color: white;
}
.hid{
  display: none;
  padding: 10px 20px;
}
.hid{
  color: black !important;
  min-height:50vh;
}
.hid h3{
  color: black;
  font-weight: 400;
}
.hid h4 ,.hid ul li{
  color :rgb(20,20,20)
}
.bluesky{
  color:rgb(0, 119, 255);
}
.dub_pfe_cont{
  height: 140px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
}
.pfe_el{
  border: 1px solid white;
  height: 100%;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
}
.hd-tit{
  position: absolute;
  transform: translateY(50px);
  color: white;
  width: 50%;
  text-align: center;
  font-size: 1.3vw;
}
#projects .labeltit{
  width: 100%;
  height:46px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: var(--primary-background);
}
.pfe_el .log-el{
  position: absolute;
  height: 27px;
  background-color: #0f0f0f;
  padding: 3px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 0px 10px 1px rgb(102, 102, 102);
  filter: contrast(3);
}
.pfe_el .mx0{
  transform: translate(24.2vw,12px);
  
}
.pfe_el .mx-1{
  transform: translate(10px,12px);
}
.pfe_el .mx-2{
  transform: translate(50px,12px);
}
.pfe_el .mx-3{
  transform: translate(90px,12px);
}

.pfe_el:hover .hd-tit{
  transform: translateY(24px);
  font-size: 1.4vw;
}
.yt-gh-icon-slp0{
  transform: translate(-22px);
  height: 30px;
  border-radius: 5px ;
  filter: contrast(3);
}
.yt-gh-icon-slp1{
  transform: translate(22px);
  height: 30px;
  border-radius: 5px ;
  filter: contrast(3);
}

.pfe_el .atr-lnk{
  position: absolute;
  width: 80px;
  height: 30px;
  display: none;
  transform: translate(0px, 0px);
}
.pfe_el:hover .atr-lnk{
  display: flex;
  flex-direction: row;
  transform: translate(13vw, 60px);
}
.atr-lnk img:hover{
  scale: 1.1;
}
.atr-lnk img:active{
  scale: 0.95;
}


.hvcol-gol:hover{
  background:linear-gradient( rgb(141, 120, 0) , grey);
}
.hvcol-bl:hover{
  background:linear-gradient( rgb(0, 49, 141) , grey);
}
.hvcol-red:hover{
  background:linear-gradient( rgb(167, 19, 0) , grey);
}